# Site
name: "WanderingClub"
title: "WanderingClub"
description: "Explore the world through captivating travel experiences and inspiring destinations."
logo: 'assets/images/logo.png'
favicon: 'assets/images/logo.png'
baseurl: ''
google_analytics: 'G-98D8W3TPNW'
disqus: 'wanderingclub'
mailchimp-list: 'https://club.us10.list-manage.com/subscribe/post?u=a0366d03098b0d55cb867530c&amp;id=e28cdaf15e&amp;f_id=00aed4e5f0'
include: ["_pages"]
permalink: /:title/

# Authors
authors:
  Tejaa:
    name: Tejaa
    display_name: Tejaa
    gravatar: c67cdbcdb2e1b5396fc34c4fb5495c11
    email: ''
    web: ''
    twitter: https://www.instagram.com/thewand3ringclub/
    description: "A passionate travel enthusiast and blogger with a deep love for exploring new destinations and immersing in diverse cultures."
  john:
    name: John
    display_name: John    
    avatar: 'assets/images/avatar.png'
    gravatar: b1cc14991db7a456fcd761680bbc8f81
    email: ''
    web: ''
    twitter: ''
    description: "I am a Dummy Author"

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives
    
# Archives
jekyll-archives:
  enabled:
    - categories
  layout: archive
  permalinks:
    category: '/category/:name/'
    
# Pagination 
paginate: 6
paginate_path: /page:num/
    
# Other
markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true

# Adsense (change to "enabled" to activate, also your client id and ad slot. Create a new ad unit from your Adsense account to get the slot.)
adsense: "disabled"
adsense-data-ad-client: "ca-pub-3412143450191416"
adsense-data-ad-slot: "1363087678"

# Lazy Images ("enabled" or "disabled")
lazyimages: "disabled"

exclude: [changelog.md, LICENSE.txt, README.md, Gemfile, Gemfile.lock, googleab31790ab860da45.html]
