<section class="disqus">
    <div id="disqus_thread"></div>
    <button class="c-btn c-btn--full js-load-disqus" onclick="loadDisqus(); return false;">Load Comments</button>
    <script>
        var disqus_shortname = '{{ site.disqus }}';
        var disqus_loaded = false;
        function loadDisqus() {
            var disqusThread = document.getElementById('disqus_thread');
            var loadButton = document.getElementsByClassName('js-load-disqus')[0];

            if (!disqus_loaded) {
                var d = document, s = d.createElement('script');
                s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);

                disqus_loaded = true;
                disqusThread.style.display = 'block';
                loadButton.style.display = 'none';
            }
        }
    </script>
    <noscript>
        <noscript>Please enable JavaScript to view the <a href='https://disqus.com/?ref_noscript'
                rel='nofollow'>comments powered by Disqus.</a></noscript>
</section>