<div class='c-widget'>
  <h5 class='c-widget__title'>Recent Stories</h5>

  {% for post in site.posts limit:6 %}
    {% if post.url != page.url %}
      <a href='{{ post.url }}' class='c-teaser'>
        <div class='c-teaser__content'>
          <h3 class='c-teaser__title'>{{ post.title }}</h3>
          <time class='c-teaser__date' datetime="{{ post.date | date: '%d %b %Y' }}" title="{{ post.date | date: '%d %b %Y' }}">{{ post.date | date: '%d %b %Y' }}</time>
        </div>
          <div class='c-teaser__media'>
            <div class='c-teaser__image ' style="background-image: url('{{ site.baseurl }}/{{ post.image }}'); " aria-label='{{ post.title }}'></div>
          </div>
      </a>
    {% endif %}
  {% endfor %}

</div>

<div class='c-widget'>
  <h5 class='c-widget__title'>Tags</h5>

  <div class='c-tags'>
    {% assign sortedTags = page.tags | sort %}
    {% for tag in sortedTags %}
      <a class="smoothscroll" href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}">{{ tag }}</a>
    {% endfor %}
  </div>
</div>

<div class='c-widget'>
  <h5 class='c-widget__title'>Post Categories</h5>

  <div class='c-tags'>
    {% assign sortedCategories = page.categories | sort %}
    {% for category in sortedCategories %}
      <a class="smoothscroll" href="{{site.baseurl}}/categories#{{ category | replace: " ","-" }}">{{ category }}</a>
    {% endfor %}
  </div>
</div>